#footer {
  padding-top: 3%;
  text-align: center;
  color: white;
  background-color: #12193b;
  margin-top: 20%;
}
.footer-link-div {
  margin-bottom: 1%;
}
.footer-link {
  margin: 0 1%;
  color: white;
}
.icon {
  color: #ffffff;
}
.foot {
  color: white;
}
