.nav-link {
  color: #000000 !important;
}

.container.p-4 {
  max-width: 100% !important;
  background-color: rgb(3, 41, 34) !important;
}

.navbtn {
  background-color: black !important;
  color: white !important;
}

.nav-item {
  padding: 0 18px;
  color: #000000;
  font-family: "Montserrat", sans-serif !important;
}
.nav-link {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.2rem;
}

.navbar-nav a:hover {
  background-color: rgb(229, 238, 243);
  color: black;
}

<<<<<<< HEAD
.logo-image {
  width: 400px;
  height: 152px;
  margin-left: -20px !important;
}

.sign-in {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.register-button {
  margin-left: 12px;
}
=======
>>>>>>> f3579d2fd23a054641d88a0450d468c7843da1ca
.form-div {
  margin: 50px auto;
}

.Navigation {
  margin-top: -10px !important;
}
@media screen and (max-width: 480px) {
  .main-logo {
    font-size: 20px !important;
  }
  .navbtn {
    border-radius: 30px;
    width: auto;
    height: 30px;
    font-size: small;
    white-space: normal !important;
    word-wrap: break-word;
  }

  .form-control {
    display: block;
  }
}
