a {
  color: #000000 !important;
}

.container {
  max-width: 100% !important;
  background-color: rgb(64, 212, 188) !important;
}
.navbar {
  max-width: 1300px !important;
}

/* p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
} */
.btn {
  /* background-image: linear-gradient(135deg, #9842ba 0%, #cc3380 100%) !important; */
  background-color: black;
  color: white !important;
}

/* .btn:hover {
  transform: translatey(10px);
  box-shadow: none;
  background-image: linear-gradient(135deg, #993394 0%, #0011ff 100%);
} */

.nav-item {
  padding: 0 18px;
  color: #000000;
  font-family: "Montserrat", sans-serif !important;
}
.nav-link {
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.8rem;
}
.main-logo {
  font-size: 40px !important;
}

/* 
.vert-bar {
  border-left: 2px solid black;
  height: 40px;
  display: flex;
  margin-top: 10px !important;
} */
/* title  */
/* .nav-item {
  font-size: 5px !important; 
  margin-left: 50px;

 /* color: #000000; }*/

.navbar-nav a:hover {
  background-color: rgb(229, 238, 243);
  color: black;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  color: black;
}

.logo-image {
  width: 400px;
  height: 152px;
  margin-left: -20px !important;
}

.sign-in {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.register-button {
  margin-left: 12px;
}
.form-div {
  margin: 50px auto;
}
.h3-div {
  width: 450px !important;
  margin: 100px auto;
}

.Navigation {
  margin-top: -10px !important;
}
@media screen and (max-width: 480px) {
  .main-logo {
    font-size: 20px !important;
  }
}
