a {
  color: #000000 !important;
}
/* 
/* .container {
  max-width: 1300px !important;
} */
/* 
.navbar {
  padding: 0 0 4.5rem;
} */
/* p {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
} */
/* 
.nav-item {
  /* padding: 0 18px; */
/* color: #000000;
  font-family: "Montserrat", sans-serif !important;
}
.nav-link {
  font-family: "Montserrat", sans-serif !important;

  font-size: 1.5rem;
}
.main-logo {
  font-size: 40px !important;
} */

/* 
.vert-bar {
  border-left: 2px solid black;
  height: 40px;
  display: flex;
  margin-top: 10px !important;
} */
/* title  */

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  color: black;
}

.logo-image {
  width: 400px;
  height: 152px;
  margin-left: 60px;
}
.sign-in {
  width: 60%;
  height: 100%;
  margin: 0 auto;
}
.register-button {
  margin-left: 12px;
}
.form-div {
  margin: 50px auto;
}
.h3-div {
  width: 450px !important;
  margin: 100px auto;
}

@media screen and (max-width: 480px) {
  .main-logo {
    font-size: 20px !important;
  }
}
